{% include "./components/HeadInfo.njk" %}
<body class="layui-layout-body">
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          {# 全屏 #}
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          {# 账号信息 #}
          <li class="layui-nav-item" lay-unselect style="margin-right:20px;">
            <a href="javascript:;">
              <cite>{{account_info.club_account}}</cite>
            </a>
            <dl class="layui-nav-child">
              <dd><a lay-href="/account/set-pwd">修改密码</a></dd>
              <hr>
              <dd><a href="/login">退出</a></dd>
            </dl>
          </li>
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="/club">
            <span><img style="height:49px;width:49px;" src="{{img_host}}{{account_info.club_logo}}">&emsp;{{account_info.club_name}}</span>
          </div>    
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="get" class="layui-nav-item layui-this">
              <a href="javascript:;" lay-href="/club" lay-tips="主页" lay-direction="2">
                <i class="layui-icon layui-icon-home"></i>
                <cite>社团信息</cite>
              </a>
            </li>
            <li data-name="get" class="layui-nav-item">
              <a href="javascript:;" lay-href="/statics" lay-tips="数据统计" lay-direction="2">
                <i class="layui-icon layui-icon-chart-screen"></i>
                <cite>数据统计</cite>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="/club" lay-attr="/club" class="layui-this"><i class="layui-icon layui-icon-home" style="margin-right:5px;"></i>社团信息</li>
          </ul>
        </div>
      </div>
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="/club" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="../../layui/layui.js"></script>  
  <script>
    layui.config({
        base: '../' //静态资源所在路径
    }).extend({
        index: '../lib/index' //主入口模块
    }).use('index');
  </script>

  <style>
    .layadmin-side-shrink .layui-layout-admin .layui-logo {
        width: 60px;
        background-image: url({{img_host}}{{account_info.club_logo}});
        background-size: cover;
    }
    .layui-layout-admin .layui-logo {
        text-align: left;
    }
  </style>

</body>